.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #7c69f4;
  border-radius: 6px;
  background-color: transparent;
}

/* Tick */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #7c69f4;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Tick animatsiyasi (optional) */
.custom-checkbox .checkmark::after {
  transition: all 0.2s ease;
}
